<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="top" width="100%">
        <div id="nav1">
            <ul>
                <li><img src="~/Content/Image/truck i con.png" />Free Shipping &amp; return /</li>
                <li><img src="~/Content/Image/money icon.png" />Money back guaranteer</li>
            </ul>
        </div>
        <div id="nav2">
            <div name="logo">
                <img src="~/Content/Image/✧Anna Yanami✧ (1).jpg" />
            </div>
                
            <div>
                <img src="~/Content/Image/search icon.png" />
                <img src="~/Content/Image/shop.png" />
            </div>
        </div>
    </div>
    <div id="main_content">
        @RenderBody()
    </div>
    <div id="bottom" width="100%">

    </div>
</body>
</html>
